@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
/*police "Lato" toute taille et italique ci dessus pour les titres
et ci dessous Raleway pour les contenus*/
@font-face {
  font-family: Raleway;
  src: url(../Fonts/Raleway-Regular.woff) format("woff");
  src: url(../Fonts/Raleway-Regular.ttf) format("truetype");
  src: url(../Fonts/Raleway-Regular.otf) format("opentype");
}
@font-face {
  font-family: Raleway;
  src: url(../Fonts/Raleway-Italic.woff) format("woff");
  src: url(../Fonts/Raleway-Italic.ttf) format("truetype");
  src: url(../Fonts/Raleway-Italic.otf) format("opentype");
}
@font-face {
  font-family: Raleway;
  src: url(../Fonts/Raleway-Bold.woff) format("woff");
  src: url(../Fonts/Raleway-Bold.ttf) format("truetype");
  src: url(../Fonts/Raleway-Bold.otf) format("opentype");
}
@font-face {
  font-family: Raleway;
  src: url(../Fonts/Raleway-BoldItalic.woff) format("woff");
  src: url(../Fonts/Raleway-BoldItalic.ttf) format("truetype");
  src: url(../Fonts/Raleway-BoldItalic.otf) format("opentype");
}
.h1-header {
  font-family: "Lato", sans-serif;
  font-size: 2.5rem;
}
.h2-header {
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
}
.font-lato {
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
  border-bottom: 1px solid;
  border-color: #e3e3e3;
  padding-bottom: 10px;
  color: #17abb3;
  font-weight: 500;
}

* {
  box-sizing: border-box;
} /* consigne visant à comprendre toutes les marges et bordures dans les largeurs et hauteurs */

body {
  display: flex;
  justify-content: center;
  font-family: raleway-regular, sans-serif;
  font-weight: 300;
  font-size: 0.8rem;
  background-color: #f5f5f5;
}

#main-container {
  max-width: 1160px;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #17abb3;
  column-gap: 300px;
  height: 200px;
}

/* step 1 dans l'ordre de lecture du header , mise en forme de la photo de profil*/
#photo-de-profil {
  width: 120px;
  height: 120px;
  object-fit: cover;
  object-position: top;
  border: 4px solid #ffffff;
  border-radius: 50%;
  order: 1;
  margin-left: 120px;
}

#photo-de-profil:hover {
  cursor: zoom-in;
}

#profil-picture {
  margin-left: 10px;
}

/* step 2 mise en forme du texte du header grace au container header title et de ses items*/
#header-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  order: 2;
  color: #ffffff;
  width: 500px;
}

.h1-header {
  margin-top: 0;
  margin-bottom: 0;
}

.h2-header {
  margin-top: 0;
}

/* mise en forme et organisation des items contact-item dans le container contact en row avec flex wrap pour avoir deux items par ligne , éspacés de façon égale avec gap */
#contact {
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 320px;
  gap: 10px;
}

.contact-item {
  width: 155px;
}

a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 100;
}

.Logo {
  width: 15px;
}

/* step 3 mise en forme du corps du cv , la partie main et son aside le tout dans le container-2 pour la mise en forme de l'ensemble */
#container-2 {
  display: flex;
  flex-direction: row;
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 773px;
  padding: 40px;
  order: 2;
  background-color: #ffffff;
}

aside {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 40px;
  width: 386px;
  order: 1;
  background-color: rgba(227, 227, 227, 40%);
}

.profil {
  text-align: justify;
  text-indent: 1rem;
}

.double-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1px;
} /* double line me permet d'avoir mon texte bold a gauche et mon texte right blue à droite grace à space between */

.bold {
  font-weight: 500;
}

.description {
  font-size: smaller;
  font-weight: lighter;
  font-style: italic;
  margin-top: 0px;
  margin-bottom: 20px;
}

.right-blue {
  color: #17abb3;
}

.inline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
} /* avec inline j'ai mon texte bold aside à gauche et je peux mettre en face de lui mes etoiles mises en forme grace au container
stars et leurs taille est uniformisée dans filled stars et empty stars */

.stars {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: end;
  margin: 0;
  gap: 6px;
  color: #17abb3;
}

.bold-aside {
  font-weight: 500;
  width: 180px;
  margin: 0;
}

.filled-stars {
  font-size: 1.3rem;
}

.empty-stars {
  font-size: 1.1rem;
}

#Langages {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 7px;
}

.langage-content {
  margin: 0;
}

.list {
  list-style-type: square;
}

ul {
  padding-left: 18px;
  color: #17abb3;
  font-size: 1.2rem;
}

.list-item {
  color: #333333;
  font-size: 0.8rem;
} /* rappel de la color et size dans les list item car la couleur et la taille changent dans son parent ul */

/* step 4 mise en forme du footer */
footer {
  background-color: #17abb3;
  color: #ffffff;
  text-align: center;
  padding: 15px;
}

#container-3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
}

.Logo-footer {
  width: 20px;
}

#date {
  font-style: italic;
  font-size: smaller;
  margin-bottom: 0;
}

/* step 5 mise en place des effets de survol */
.hover-1:hover {
  background-color: rgba(227, 227, 227, 40%);
  border-left: 5px solid;
  border-left-color: #17abb3;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 4px;
  padding-right: 4px;
}

.Logo-footer:hover {
  opacity: 0.7;
}
